<h1>Create Your New List</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<%= link_to "↺ Back to Lists", lists_path, class: "mt-3 btn btn-secondary" %>

